.addTitle{
    float: left;
    color: #2b6756;
    position: relative;
    margin-bottom: 100px;
}
.addPage{
    width: 80%;
    height: 100%;
    margin-top: 50px;
    display: inline-block;

}
.addInput{
    display: block;
    clear: both;
    height: 50px;
    width: 400px;
    border-radius: 6%;
    font-size: 20px;
    margin-bottom: 20px;

}
.addButtons{
    float: left;
}
.addCreate{
    margin-right: 30px;
}
.addImage{
    position: absolute;
    right: 400px;
    top:200px;
}