.newButton{
    height: 30px;
    width: 100px;
    display: inline-block;
}
.plusCircle{
    display: inline-block;
    width: 20px;
    height: 30px;
}
.button{
    display: inline-block;
    position: relative;
    right: 768px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;

    width: 100%;
}
.contactList{
    display: inline-block;

}
.SearchBar{
    float: left;
    margin-left: 210px;
}